.middleSection {
    width: 100%;
    height: calc(100% - 150px);

     .container {
         height: 100%;

         .formWrapp {
             height: 100%;
             flex-direction: column;
         }

        .signInMsg{
             width: 100%;
             display: flex;
             align-items: center;
             justify-content: center; 
             text-align: center; 
             font-size: 20px;
             font-weight: 600;
             color:#5cb85c;  

             &.hidden {
                 display: none;
             }
        }
    }
}