.uploadedContainer {
    width: 70%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgCard {
    width: 30%;
    height: auto;
    margin-top: 10px;
    border: 1px solid black;
}

.filesWrap {
    min-height: calc(100% - 150px);
}

video {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}